.card-resultado {
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.success-card {
    background: var(--success-bg);
    border: 1px solid var(--success-text);
}

.error-card {
    background: var(--error-bg);
    border: 1px solid var(--error-text);
}

.previsao-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}