/* index.css */
@import "./styles/base.css";
@import "./styles/layout.css";
@import "./styles/forms.css";
@import "./styles/buttons.css";
@import "./styles/previsao.css";
@import "./styles/historico.css";
@import "./styles/mobile.css";